/* navigation */

.nav {
	.nav-list {
		float: right; margin: 0;

		.nav-list__item {
			display: inline-block; margin-right: 82px; position: relative;
			.nav-list__item_link {
				text-decoration: none; display: block;
                @include font-type($black-color, $light-font, 1.7em, 50px, 0);
                
			}
			&:last-child {
				margin-right: 0;
			}
			&:after {
				display: block; position: absolute; bottom: 10px; left: 50%; right: 50%;
				opacity: 0; 
				content: ''; border-bottom: 1px solid $black-color;
				transition: all ease-out 0.3s;
			}
			&:hover {
				&:after {
					opacity: 1; left: 0; right: 0;
				}
			}
		}
	}
}