/* header */

.header {
	min-height: 96px; background-color: $header-color; width: 100%;
	position: relative; z-index: 1; padding-top: 30px;

	.header-logo {
		position: absolute; top: 43px;
		transition: transform ease-out 0.4s;

		&:hover {
			transform: scale(1.1);
		}

		.header-logo__link {
			content: ''; display: block; width: 100%; height: 100%;

		}
	}

	&-main {
		background: none;
		.nav {
			.nav-list {
				.nav-list__item {
					.nav-list__item_link {
						color: $light-color;
					}
					&:after {
						border-bottom: 1px solid $light-color;
					}
				}
			}
		}
	}
}
