// preloader

.preloader {

	position: fixed; left: 0; right: 0; top: 0; bottom: 0;
	background-color: $preload-bg-color;
	z-index: 100500;
}

.load {

	width: 300px; height: 300px; position: absolute; left: 50%; top: 50%;
	margin-left: -150px; margin-top: -150px;
	text-align: center;

	background: url('./assets/img/preload.svg') center no-repeat;
	background-size: 80px;
}