// header

- var header = 'header class="header"'
- var header_main = 'header class="header header-main"'

// navigation

-
	var menu = {
		'О компании' : 'index.html',
		'Каталог' : 'catalog.html',
		'Ассортимент' : 'range.html',
		'Контакты' : 'contacts.html'
	}

// catalog

-
	var c_items = {
		'Сырокопченые и сыровяленые колбасы' : 'salami',
		'Продукты из мяса сырокопченые и сыровяленые' : 'meat',
		'Варено-копченые колбасы' : 'sausage',
		'Продукты из шпика' : 'bacon'
	}
