// POPUP

.popup

	.modal.fade.art1-modal(tabindex="-1", role="dialog", aria-hidden="true")
		.modal-dialog
			.modal-content
				h2 Как правильно выбрать <br>сырокопченую колбасу
				p.
					Один из главных показателей качества сырокопченого деликатеса – его презентабельный внешний вид. Поэтому обязательно посмотри на колбасный срез – если он сероватый и рыхлый, такой товар лучше не приобретать. «Рисунок» у деликатеса должен быть красивым, равномерно перемешанным и с кусочками шпика определенного размера. Не может быть никаких наплывов фарша или жира, и оболочка должна быть не ровной и глянцевой, как у вареной колбасы, а сухой и немного морщинистой. Если же батон снаружи влажный, склизкий, с разрывами и глубокими провалами, значит, была нарушена технология производства или условия хранения. У специалистов есть еще один способ проверить качество сырокопченого деликатеса – потрогать его. Если колбаса окажется плотной – она хорошая, если мягкой – значит, ее не досушили.

				span.close(data-dismiss="modal") &times;

	.modal.fade.art2-modal(tabindex="-1", role="dialog", aria-hidden="true")
		.modal-dialog
			.modal-content
				h2 Как выбрать <br>качественное мясо
				p.
					Определить качество мяса не всегда просто, особенно в супермаркете, где оно упаковано в лотки и покрыто специальной пищевой пленкой. А добросовестных мясников, которые гордятся своим мясом, становится, к сожалению, все меньше и меньше.
				p.
					Качественное мясо обычно мягкое: место разреза является абсолютно гладким. В то же время оно должно быть эластичным и упругим - будьте осторожны с вялым мясом! Цвет мяса должен быть натуральным, а запах нежным. Сильный запах обычно указывает на несвежий продукт.
				h3 Категория мяса
				p.
					Никогда не путайте сорт мяса с его категорией! Категория - это принадлежность мяса к той или иной части туши животного; в зависимости от категории мясо находит применение в кулинарии.
				p.
					К первой категории относится мясо с наиболее «неподвижных» частей тела животного; это мясо более нежное, жирное и содержит меньше соединительной ткани. Это в основном задняя часть туши: филе, тонкий филей, ромштекс, тонкие ломтики мяса, ребрышки и антрекот, бифштекс, огузок и т д. Эта категория мяса отлично подходит для блюд быстрого приготовления (жаркое, гриль).
				p.
					В мясе второй и третьей категорий (грудинка и передняя часть) больше соединительной ткани и оно более жесткое. Это мясо лопаточной части, говяжья лопаточная мякоть, подбедерок, грудинка, ребра и т. д. Блюда из такого мяса (рагу, тушеное мясо, мясо в горшочках) требуют длительного приготовления. Эти категории также хороши для блюд из рубленого мяса.

				span.close(data-dismiss="modal") &times;

	.modal.fade.art3-modal(tabindex="-1", role="dialog", aria-hidden="true")
		.modal-dialog
			.modal-content
				h2 Ценность мяса
				p.
					При упоминании свинины у многих людей перед глазами возникает образ жареного мяса, истекающего жиром. На самом деле этот образ не соответствует действительности, поскольку при разделке свиной туши получаются куски мяса, обладающие различной пищевой ценностью и содержанием жира.
				p.
					Свиные рёбрышки действительно являются очень жирными, однако догадывались ли вы, что свиное филе содержит всего 6% жира?
				p В 100 граммах свинины в среднем содержится:
				
				table
					thead
						th
						th Свинина
						th Мясо бройлера
					tr
						td Энергии
						td 217 ккал
						td 206 ккал
					tr
						td Жиров
						td 16,7 г
						td 14,6 г
					tr
						td Белков
						td 17,0 г
						td 19 г
					tr
						td Магния
						td 21 мг
						td 7,6 мг
					tr
						td Железа
						td 1,1 мг
						td 0,9 мг
					tr
						td Цинка
						td 2,8 мг
						td 1,3 мг

				p.
					Считается, что мясо птицы содержит наименьшее количество жира, но при взгляде на среднюю пищевую ценность становится понятно, что свинина и мясо птицы по содержанию жира практически одинаковы. В пользу свинины говорит тот факт, что в ней содержится больше белков, цинка и магния.
				
				span.close(data-dismiss="modal") &times;

	.modal.fade.art4-modal(tabindex="-1", role="dialog", aria-hidden="true")
		.modal-dialog
			.modal-content
				h2 Как правильно готовить мясо
				p.
					Существует множество способов как правильно готовить мясо, рассмотрим основные.
				p.
					Запомните, солить мясо всех видов надо лишь в конце готовки, потому, что соль способствует потере сока и мясо получиться не вкусным!
				h3 При жарке
				p.
					Нельзя класть вынутое их холодильника мясо на сковороду сразу. Оно охладит сковороду, и приготовление блюда надолго затянется. Надо дать мясу немного согреться при комнатной температуре.
				p.
					Жарить нужно только самое лучшее мясо — вырезку. Разделить куски  вырезки  на порции и готовить около трех минут с одной стороны и две с другой. А нарезать мясо надо поперек волокон, можно и отбить, приправляем специями , раскаляем сковороду немного растительного масла, кладем мясо и жарим до тех пор пока при прокалывании сок из мяса не станет прозрачным, главное не пропустить этот момент!
				p.
					Температура приготовления порционного мяса зависит от его габаритов – чем толще кусок, тем дольше и слабее должен быть нагрев (если только это будет не бифштекс с кровью). Если готовить толстый кусок мяса при высокой температуре, он обгорит снаружи, не успев прожариться изнутри. Тонкие же порции мяса лучше обжаривать быстро при высокой температуре.
				h3 При варке
				p.
					Мясо надо закладывать в крутой кипяток, чтобы оно было сочным, а не безвкусным и жестким. И готовить не менее 1 часа. Если нужен крепкий бульон, хороший навар, то мясо можно положить и в холодную воду, но и варить не менее двух часов.
				p.
					После того как кастрюля с мясом снята с огня, ей надо "отдохнуть" под закрытой крышкой минут 20. Кастрюля, которая используется для отваривания мяса, должна быть такого размера, чтобы в ней уместился кусок мяса.
				h3 При запекании в мешке для запекания или фольге
				p.
					Если мясо запекается куском, то не солится. Солятся изделия из мясного фарша, посыпается, всем, что необходимо по рецепту и обязательно панируются в муке, которая и заберёт часть соли. Птица же посыпается сухими пряностями (но не сырыми пряными травами) и почти не солится.
				h3 Панировка
				p.
					Обычно для панировки применяют муку, яйцо и панировочные (помолотые) сухари. Котлеты из мяса панируют обычной пшеничной мукой.При готовке на открытом огне, мясо сбрызгивают растительным маслом.
				h3 Кляры
				p.
					Минеральная вода делает кляр более воздушным, рыхлым.
				p.
					Если следовать этим советам, то на вашем столе всегда будет вкусное блюдо из мяса!
				
				span.close(data-dismiss="modal") &times;