// RANGE

section.range

	h2.range__header Ассортимент

	article.range-product
		.range-product__wrapper
			table.range-product__header
				tr.requisites
					td.requisites__english
						.full-name Limited Liability Company "Recipes Bulbash"
						.name (LLC "Recipes Bulbash")
						.addr Address: 216790, Smolensk region, Rudny, lane 2 Lugovoi, d.23
						.mail email: rezept-bylbacha@mail.ru
					td.requisites__logo
					td.requisites__russian
						.full-name Общество с ограниченной ответственностью "Рецепты Бульбаша"
						.name (ООО "Рецепты Бульбаша")
						.addr Address: 216790, Смоленская область, г. Рудня, перулок 2-ой Луговой, д.23
						.mail email: rezept-bylbacha@mail.ru
			table.range__list
				tr.range__list_header
					th.range__list_header-number № п/п
					th.range__list_header-name Наименование продукции
					th.range__list_header-term Срок реализации
				tr
					td.range__list_group(colspan=3) Сырокопченые и сыровяленые колбасные изделия из мяса
				tr
					td.range__list_group-item-number 1
					td.range__list_group-item-name.
						Мясной продукт. Сырокопченое колбасное изделие полусухое с регулятором кислотности<br>
						<b>«Колбаса «Медовая» высшего сорта охлажденная</b>
					td.range__list_group-item-term(rowspan=9) 120 суток<br>150 суток (вакуум)
				tr
					td.range__list_group-item-number 2
					td.range__list_group-item-name.
						Мясной продукт. Сырокопченое колбасное изделие полусухое с регулятором кислотности<br>
						<b>«Колбаса «Бужоле» высшего сорта охлажденная</b>
				tr
					td.range__list_group-item-number 3
					td.range__list_group-item-name.
						Мясной продукт. Сырокопченое колбасное изделие полусухое с регулятором кислотности<br>
						<b>«Колбаса «Новинка» высшего сорта охлажденная</b>
				tr
					td.range__list_group-item-number 4
					td.range__list_group-item-name.
						Мясной продукт. Сырокопченое колбасное изделие полусухое с регулятором кислотности<br>
						<b>«Колбаса «Карпаччо по-охотничьи» высшего сорта охлажденная</b>
				tr
					td.range__list_group-item-number 5
					td.range__list_group-item-name.
						Мясной продукт. Сырокопченое колбасное изделие полусухое с регулятором кислотности<br>
						<b>«Колбаса «Имперская на коньяке» высшего сорта охлажденная</b>
				tr
					td.range__list_group-item-number 6
					td.range__list_group-item-name.
						Мясной продукт. Сырокопченое колбасное изделие полусухое с регулятором кислотности<br>
						<b>«Колбаса «Иерусалимский гостинец» высшего сорта охлажденная</b>
				tr
					td.range__list_group-item-number 7
					td.range__list_group-item-name.
						Мясной продукт. Сырокопченое колбасное изделие полусухое<br>
						<b>«Колбаса «Киндюк без Е» высшего сорта охлажденная</b>
				tr
					td.range__list_group-item-number 8
					td.range__list_group-item-name.
						Мясной продукт. Сырокопченое колбасное изделие полусухое с регулятором кислотности<br>
						<b>«Колбаса «Киндюк по-охотничьи» высшего сорта охлажденная</b>
				tr
					td.range__list_group-item-number 9
					td.range__list_group-item-name.
						Мясной продукт. Сырокопченое колбасное изделие полусухое с регулятором кислотности<br>
						<b>«Колбаса «Рублевая» высшего сорта охлажденная</b>
				tr
					td.range__list_group-item-number 10
					td.range__list_group-item-name.
						Мясной продукт. Сыровяленое колбасное изделие<br>
						<b>«Колбаса «От Бабушки» высшего сорта охлажденная</b>
					td.range__list_group-item-term(rowspan=5) 45 суток
				tr
					td.range__list_group-item-number 11
					td.range__list_group-item-name.
						Мясной продукт. Сыровяленое колбасное изделие<br>
						<b>«Колбаса «Балканская» высшего сорта охлажденная</b>
				tr
					td.range__list_group-item-number 12
					td.range__list_group-item-name.
						Мясной продукт. Сыровяленое колбасное изделие<br>
						<b>«Колбаса «Балканская» высшего сорта охлажденная</b>
				tr
					td.range__list_group-item-number 13
					td.range__list_group-item-name.
						Мясной продукт. Сыровяленое колбасное изделие<br>
						<b>«Колбаски «Миланские с шоколадом» высшего сорта охлажденные</b>
				tr
					td.range__list_group-item-number 14
					td.range__list_group-item-name.
						Мясной продукт. Сыровяленое колбасное изделие<br>
						<b>«Колбаски «Бужоле по-охотничьи на красном вине» высшего сорта охлажденные</b>
				tr
					td.range__list_group-item-number 15
					td.range__list_group-item-name.
						Мясной продукт. Сырокопченое колбасное изделие<br>
						<b>«Колбаса куриная «Палермо» высшего сорта охлажденная</b>
					td.range__list_group-item-term(rowspan=2) 120 суток
				tr
					td.range__list_group-item-number 16
					td.range__list_group-item-name.
						Мясной продукт. Сыровяленое колбасное изделие<br>
						<b>«Колбаски куриные «Палермо» высшего сорта охлажденные</b>
				
				tr
					td.range__list_group(colspan=3) Продукты из мяса сырокопченые и сыровяленые
				tr
					td.range__list_group-item-number 17
					td.range__list_group-item-name.
						Продукт из свинины сырокопченый<br>
						<b>«Балык «Егерский» охлажденный</b>
					td.range__list_group-item-term(rowspan=4) 30 суток<br>40 суток (вакуум)
				tr
					td.range__list_group-item-number 18
					td.range__list_group-item-name.
						Продукт из свинины сырокопченый<br>
						<b>«Грудинка «Палермо» охлажденная</b>
				tr
					td.range__list_group-item-number 19
					td.range__list_group-item-name.
						Продукт из свинины сырокопченый<br>
						<b>«Грудинка «Подкопченная на ольхе» охлажденная</b>
				tr
					td.range__list_group-item-number 20
					td.range__list_group-item-name.
						Продукт из свинины сыровяленый<br>
						<b>«Полендвица «От Дедушки» охлажденная</b>

				tr
					td.range__list_group(colspan=3) Варено-копченые колбасные изделия
				tr
					td.range__list_group-item-number 21
					td.range__list_group-item-name.
						Мясной продукт. Варено-копченое колбасное изделие<br>
						<b>«Колбаса «Купеческая» высшего сорта охлажденная</b>
					td.range__list_group-item-term(rowspan=4) 45 суток
				tr
					td.range__list_group-item-number 22
					td.range__list_group-item-name.
						Мясной продукт. Варено-копченое колбасное изделие<br>
						<b>«Колбаса «Ветчинная» высшего сорта охлажденная</b>
				tr
					td.range__list_group-item-number 23
					td.range__list_group-item-name.
						Мясной продукт. Варено-копченое колбасное изделие<br>
						<b>«Колбаса «Ветчинная с сыром» высшего сорта охлажденная</b>
				tr
					td.range__list_group-item-number 24
					td.range__list_group-item-name.
						Мясной продукт. Варено-копченое колбасное изделие<br>
						<b>«Колбаса «Австрийская» высшего сорта охлажденная</b>

				tr
					td.range__list_group(colspan=3) Продукты из шпика
				tr
					td.range__list_group-item-number 25
					td.range__list_group-item-name.
						Продукт из шпика<br>
						<b>«Грудинка соленая «По-домашнему» охлажденная</b>
					td.range__list_group-item-term 25 суток
				tr
					td.range__list_group-item-number 26
					td.range__list_group-item-name.
						Продукт из шпика<br>
						<b>«Шпик соленый «Фермерский» охлажденный</b>
					td.range__list_group-item-term 60 суток
				tr
					td.range__list_group-item-number 27
					td.range__list_group-item-name.
						Продукт из шпика<br>
						<b>«Шпик копченый «На ольхе» охлажденный</b>
					td.range__list_group-item-term 30 суток
				tr
					td.range__list_group-item-number 28
					td.range__list_group-item-name.
						Продукт из шпика<br>
						<b>«Шпик соленый в оболочке «Ароматный» охлажденный</b>
					td.range__list_group-item-term 60 суток
				tr
					td.range__list_group-item-number 29
					td.range__list_group-item-name.
						Продукт из шпика<br>
						<b>«Шпик копченый в оболочке «Закусочный» охлажденный</b>
					td.range__list_group-item-term 30 суток

			.range__footer
				.renge__footer_text Прайс по запросу