// RULES

section.rules

	h2 Главные правила в нашей работе это:

	.container-wrap

		.rules__item
			.rules__item_icon.icon-tie
			p.rules__item_text профессионализм

		.rules__item
			.rules__item_icon.icon-group
			p.rules__item_text строгая дисциплина <br>на предприятии

		.rules__item
			.rules__item_icon.icon-sign
			p.rules__item_text жесткий контроль<br>за качеством сырья<br>и готовой продукции
			
		.rules__item
			.rules__item_icon.icon-sausage
			p.rules__item_text постоянный вкус<br>нашей продукции	

		.rules__item
			.rules__item_icon.icon-lead
			p.rules__item_text порядочность в работе<br>с нашими партнерами

		.rules__item
			.rules__item_icon.icon-hands
			p.rules__item_text у нас работают только<br>профессионалы своего<br>дела