// CONTACTS

section.contacts

	h2.contacts__header Контакты

	.container-wrap
		.contacts-info

			.contacts-info__map
				#map

			.contacts-info__text
				h3 Наш адрес
				p.contacts-info__addr Россия, Смоленская обл., г. Рудня, <br>пер. 2-й Луговой, д. 23
				h3 Телефоны
				p.contacts-info__tel +79670205515<br>+79056995688
				h3 Электронная почта
				p.contacts-info__email rezept-bylbacha@mail.ru
