// CAROUSEL

section.carousel.slide(data-ride="carousel")

	.carousel-inner

		.descript
			h1.descript__header Рецепты Бульбаша
			p.descript__text производство колбас и мясных <br> деликатесов высокого качества
			
		ol.carousel-indicators
			li.active(data-target=".carousel", data-slide-to="0")
			li(data-target=".carousel", data-slide-to="1")
			li(data-target=".carousel", data-slide-to="2")

		.item.active
			img(src="assets/img/carousel-img-1.jpg", alt="Рецепты Бульбаша")

		.item
			img(src="assets/img/carousel-img-2.jpg", alt="Рецепты Бульбаша")

		.item
			img(src="assets/img/carousel-img-3.jpg", alt="Рецепты Бульбаша")