section.interest

	h2.interest__header Интересно знать

	article.articles
		.article-item
			.article-item__img
				img(src="assets/img/int-img-1.jpg", alt="Статья 1")
			.article-item__desc
				h3 Как правильно выбрать <br> сырокопченую колбасу
				p Один из главных показателей качества сырокопченого деликатеса – <br>его презентабельный внешний вид...
				a.button(href="#", data-toggle="modal", data-target=".art1-modal") Читать статью

		.article-item
			.article-item__img
				img(src="assets/img/int-img-2.jpg", alt="Статья 2")
			.article-item__desc
				h3 Как выбрать <br>качественное мясо
				p Определить качество мяса не всегда просто, особенно в супермаркете, <br>где оно упаковано в лотки <br>и покрыто...
				a.button(href="#", data-toggle="modal", data-target=".art2-modal") Читать статью
			
		.article-item
			.article-item__img
				img(src="assets/img/int-img-3.jpg", alt="Статья 3")
			.article-item__desc
				h3 Ценность мяса
				p При упоминании свинины у многих людей перед глазами возникает образ жареного мяса, истекающего жиром. На самом деле...
				a.button(href="#", data-toggle="modal", data-target=".art3-modal") Читать статью

		.article-item
			.article-item__img
				img(src="assets/img/int-img-4.jpg", alt="Статья 4")
			.article-item__desc
				h3 Как правильно <br>готовить мясо
				p Существует множество способов <br>как правильно готовить мясо, рассмотрим основные...
				a.button(href="#", data-toggle="modal", data-target=".art4-modal") Читать статью
			