// CONTACTS

section.contacts

	h1 Контакты

	.container-wrap
		.contacts-info

			.contacts-info__map
				<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2292.102856416267!2d31.091671851309158!3d54.93621368024642!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x46cf98c0ed6ee949%3A0x6a7d7a5822c9b147!2zMi3QuSDQm9GD0LPQvtCy0L7QuSDQv9C10YAuLCAyMywg0KDRg9C00L3Rjywg0KHQvNC-0LvQtdC90YHQutCw0Y8g0L7QsdC7Liwg0KDQvtGB0YHQuNGPLCAyMTY3OTA!5e0!3m2!1sru!2sby!4v1482923767339" width="580" height="584" frameborder="0" style="border:0" allowfullscreen></iframe>

			.contacts-info__text
				h3 Наш адрес
				p.contacts-info__addr Россия, Смоленская обл., г. Рудня, <br>пер. 2-й Луговой, д. 23
				h3 Телефоны
				p.contacts-info__tel +79670205515<br>+79056995688
				h3 Электронная почта
				p.contacts-info__email rezept-bylbacha@mail.ru
