// ABOUT

section.about
	.container-wrap

		h2 О компании

		p.
			С самого начала существования предприятия мы взяли за основу <br>главную цель – производить только натуральную, вкусную <br>и высококачественную мясную продукцию! Вся продукция <br> производится по белорусским рецептам, которые уже давно <br>полюбились покупателям из Российской Федерации.
		p.
			Мы прекрасно сочетаем традиции прошлого и новейшие <br>технологии! Наша продукция изготавливается только <br>из охлажденного и качественного сырья. Мы сами разрабатываем <br>наши рецептуры и сами подбираем специи для своих колбас, <br>поэтому вкус нашей продукции вам понравится и запомнится <br>навсегда!

		p.about__bottom.
			У нашего предприятия имеется своя собственная <br><strong>артезианская скважина</strong>, глубиной 150 метров, что также положительно сказывается на качестве всей нашей продукции.